<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome Admin</h1>

  <form action="/admin/send-image" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="token" value="abc">
      <input type="file" name="image">
      <input type="submit" value="Upload">
      <!-- login link -->
      <a href="/login">User Login</a>
    </form>
</body>
</html>
